<div class="card">
  <div class="card-content">
    <h2>Agradecimiento a LinkTic</h2>
    <p>
      Querido equipo de LinkTic,<br>
      Quiero expresar mi más sincero agradecimiento por brindarme la oportunidad de participar en el proceso de selección para la vacante en su empresa. Ha sido un verdadero honor para mí poder demostrar mis habilidades y conocimientos durante este proceso.<br>
      Desde el primer contacto, me sentí impresionado por el profesionalismo y la calidez del personal. Cada etapa del proceso fue una oportunidad para aprender y crecer, y estoy agradecido por el tiempo y la consideración que me brindaron.<br>
      Independientemente del resultado final, quiero destacar que esta experiencia me ha dejado con un profundo sentido de gratitud y aprendizaje. Estoy emocionado por la posibilidad de contribuir al éxito y crecimiento de LinkTic en el futuro, ya sea como parte de su equipo o como un apoyo desde fuera.<br>
      Nuevamente, gracias por esta maravillosa oportunidad y por considerar mi perfil para la vacante. Espero con ansias la posibilidad de colaborar con ustedes en el futuro.<br>
      Con gratitud.<br>
    </p>
  </div>
</div>
